tensorflow==2.18.0
numpy>=1.26.0,<2.1.0
pandas>=1.3.0
shapely
scikit-image
pyclipper
lmdb
tqdm
rapidfuzz
opencv-python
opencv-contrib-python
cython
Pillow
pyyaml
requests
albumentations
albucore
packaging
